@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Geist Sans";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/GeistVF.ttf) format("truetype");
  }
  @font-face {
    font-family: "Geist Mono";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/GeistMonoVF.ttf) format("truetype");
  }
}

html,
body {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}